In [14]:
import pandas as pd 

data = pd.read_csv('/home/tranminhduc/DWH_retail_project/dags/data/country.csv',encoding='unicode_escape')

In [15]:
data

      id iso               name           nicename iso3  numcode  phonecode
0      1  AF        AFGHANISTAN        Afghanistan  AFG      4.0         93
1      2  AL            ALBANIA            Albania  ALB      8.0        355
2      3  DZ            ALGERIA            Algeria  DZA     12.0        213
3      4  AS     AMERICAN SAMOA     American Samoa  ASM     16.0       1684
4      5  AD            ANDORRA            Andorra  AND     20.0        376
..   ...  ..                ...                ...  ...      ...        ...
234  235  WF  WALLIS AND FUTUNA  Wallis and Futuna  WLF    876.0        681
235  236  EH     WESTERN SAHARA     Western Sahara  ESH    732.0        212
236  237  YE              YEMEN              Yemen  YEM    887.0        967
237  238  ZM             ZAMBIA             Zambia  ZMB    894.0        260
238  239  ZW           ZIMBABWE           Zimbabwe  ZWE    716.0        263

[239 rows x 7 columns]

In [12]:
data['numcode'] = pd.to_numeric(data['numcode'],errors='coerce').astype('Int64')

In [16]:
data.dtypes

id             int64
iso           object
name          object
nicename      object
iso3          object
numcode      float64
phonecode      int64
dtype: object